<header class="header">
  <div class="logo">

      <a href="https://easymailing.com"> <img src="{{asset 'logo-easymailing.svg'}}" alt="{{t 'home_page' name=help_center.name}}"></a>
      <div class="vertical-separator"></div>
    {{#link 'help_center' class='link-white'}}
      <div class="header-title">{{dc 'theme_help'}}</div>
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
        {{link 'community'}}
        {{link 'new_request' class='submit-a-request'}}
        {{#if signed_in}}
        {{else}}
            <a class="register-btn" href="https://easymailing.com/signup">{{dc 'theme_register'}}</a>
            {{#link 'sign_in' class='sign-in'}}
                Iniciar sesión
            {{/link}}
        {{/if}}


    </nav>
      {{user_info}}
  </div>
</header>
