<section class="section hero">

  <div class="hero-inner">
      <h2 class="hero-title">{{dc 'theme_homepage_start_message'}}</h2>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#isnt name 'Administraci贸n'}}
            <li class="blocks-item">

              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-link__container">

                {{#is id 4409717909009}}
                <img src="{{asset 'ico-automation.svg'}}" />
                {{/is}}

                {{#is id 360000406978}}
                <img src="{{asset 'ico-cuenta.svg'}}" />
                {{/is}}

                {{#is id 360000619497}}
                <img src="{{asset 'ico-campanas.svg'}}" />
                {{/is}}

                {{#is id 360000407417}}
                <img src="{{asset 'ico-editor.svg'}}" />
                {{/is}}

                {{#is id 360000619797}}
                <img src="{{asset 'ico-gestion-contactos.svg'}}" />
                {{/is}}

                {{#is id 360000619817}}
                <img src="{{asset 'ico-rgpd.svg'}}" />
                {{/is}}

                {{#is id 360000613078}}
                <img src="{{asset 'ico-api.svg'}}" />
                {{/is}}
                </span>

                <h4 class="blocks-item-title">{{name}}  </h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{/isnt}}

        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3 class="font-size-22 font-regular">{{dc 'theme_featured_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <!--<section class="section home-section activity">-->
    <!--{{#if settings.show_recent_activity}}-->
      <!--{{recent_activity}}-->
    <!--{{/if}}-->
  <!--</section>-->
</div>

<!--<zd-autocomplete style="-->
      <!--left: 209.5px;-->
      <!--top: 362.234375px;-->
      <!--width: 910px;-->
    <!--"><zd-autocomplete-multibrand tabindex="0" aria-selected="true">-->
    <!--<zd-autocomplete-title-multibrand tabindex="0">C贸mo crear un <em>usuari</em>o</zd-autocomplete-title-multibrand>-->
    <!--<zd-autocomplete-breadcrumbs-multibrand tabindex="0">-->
        <!--Easymailing &gt; Cuenta y configuraci贸n &gt; Gesti贸n de usuarios-->
    <!--</zd-autocomplete-breadcrumbs-multibrand>-->
<!--</zd-autocomplete-multibrand></zd-autocomplete>-->
