<section class="section hero">

  <div class="hero-inner">
      <h2 class="hero-title">{{dc 'theme_homepage_start_message'}}</h2>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#isnt name 'Administraci칩n'}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">

                {{#is name 'Cuenta y configuraci칩n'}}
                <img src="{{asset 'ico-cuenta.svg'}}" />
                {{/is}}

                {{#is name 'Campa침as de email'}}
                <img src="{{asset 'ico-campanas.svg'}}" />
                {{/is}}

                {{#is name 'Editor de plantillas'}}
                <img src="{{asset 'ico-editor.svg'}}" />
                {{/is}}

                {{#is name 'Gesti칩n de contactos'}}
                <img src="{{asset 'ico-gestion-contactos.svg'}}" />
                {{/is}}

                {{#is name 'RGPD'}}
                <img src="{{asset 'ico-rgpd.svg'}}" />
                {{/is}}

                {{#is name 'API e integraciones'}}
                <img src="{{asset 'ico-api.svg'}}" />
                {{/is}}

                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{/isnt}}

        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{dc 'theme_featured_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <!--<section class="section home-section activity">-->
    <!--{{#if settings.show_recent_activity}}-->
      <!--{{recent_activity}}-->
    <!--{{/if}}-->
  <!--</section>-->
</div>
